/* * {
  color: green;
}
body {
background-image: url("https://image.shutterstock.com/image-vector/abstract-background-geometric-pattern-eps10-450w-277234067.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.container{
  border:2px solid black;
  padding:25px;
  align-self: center;
  text-align: center;
  background-color: yellowgreen;
  margin-top: 12%;
  margin-left: 30%;
  margin-right:30%;
} */
